/* CSS Document */ 
2 body { 
3     font-family: Verdana; 
4 } 
5 .header{ 
6 text-align:right; 
7 text-align:right; 
8 font-weight:bold; 
9 color:#FFFFFF;} 
10  .bord{ 
11  border-bottom:2px dotted #000000;} 
12  .brdr{ 
13  border:2px dashed   #000000; 
14  } 
15  .hdr{ 
16  font-size:24px; 
17  text-align:center; 
18  background-color:#CC6666; 
19  } 
